/*SMART PHONE SCREEN 768PX*/
@media only screen and (max-width: 768px) {
  body {
    padding-top: 100px;
    background-size:
      90% 10%,
      120% 40%;
  }
  h1 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
    padding: 0 20px;
  }
  .col {margin: 0;}
  .span-1-of-2 {width: 100%;}
  .span-1-of-3 {width: 100%;}
  .span-1-of-2:first-child p {
    font-size: 90%;
    padding: 0 30px;
    text-align: center;
  }
  .span-1-of-2:last-child {
    padding: 20px 10px 0;
  }
  .icon-star {
    float: none;
    padding-bottom: 5px;
  }
  .review-1,
  .review-2,
  .review-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
  }

  .bottom-container .row {
    padding: 20px 10px 0;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    margin: 120px auto 10px;
  }
}

/*SCREEN < 1030PX*/
@media only screen and (max-width: 1030px) {
  .icon-star {
    float: none;
    padding-bottom: 5px;
  }
  .review-1,
  .review-2,
  .review-3 {
    text-align: center;
  }
}

/*SCREEN < 1130PX*/
@media only screen and (max-width: 1130px) and (min-width: 769px) {
  .bottom-container .row {
    display: flex;
    margin: auto;
    padding-right: 50px;
  }
  .span-1-of-3 {
    flex: 1;
  }
}
