* {
  box-sizing: border-box;
}

html {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  margin: 0;
}

body {
  background-image:
    url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position:
    left top,
    right bottom;
  background-repeat: no-repeat;
}

/*--GROUPING--*/
.row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*--GRID COLUMN SETUP--*/
.col {
	display: block;
	float: left;
	margin: 1% 1% 1% 1%;
}

/*--GRID OF TWO--*/
.span-1-of-2 {
	width: 48%;
}

/*--GRID OF THREE--*/
.span-1-of-3 {
	width: 30%;
}

/*--------------TOP CONTAINER--------------*/

/*--TOP LEFT CONTAINER--*/
h1 {
  font-size: 3rem;
  color: #502050;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 40px;
  line-height: 1;
}

.span-1-of-2:first-child p {
  font-size: 85%;
  padding-left: 50px;
  padding-right: 90px;
  line-height: 1.7;
  color: #502050;
}

/*--TOP RIGHT CONTAINER--*/
.span-1-of-2:last-child {
  padding-top: 80px;
}

.review-1,
.review-2,
.review-3 {
  background-color: #F7F2F7;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 75%;
  border-radius: 5px;
}

.review-2 {
  margin-left: 40px;
}

.review-3 {
  margin-left: 80px;
}

.review-1 p,
.review-2 p,
.review-3 p {
  font-size: 90%;
  font-weight: bold;
  display: inline;
  color: #502050;
}

/*STAR ICONS*/
.icon-star {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-star img  {
  padding-left: 3px;
}


/*-------BOTTOM CONTAINER-------*/

.bottom-container {
  margin-bottom: 20px;
}

.bottom-container .row {
  padding-top: 20px;
  padding-left: 50px;
}

.bottom-1,
.bottom-2,
.bottom-3 {
  padding: 25px 28px;
  line-height: 1.6;
  background-color: #502050;
  border-radius: 5px;
}

.bottom-2 {
  position: relative;
  top: 15px;
}

.bottom-3 {
  position: relative;
  top: 30px;
}

.bottom-1 p,
.bottom-2 p,
.bottom-3 p {
  color: #F7F2F7;
  font-size: 80%;
}

.verified-buyer {
  color: #EE68A4;
}

.name-image {
  padding-left: 0;
  padding-bottom: 5px;
}

.name-image img {
  float: left;
  border-radius: 50%;
  height: 40px;
}

.name-image p {
  padding-left: 65px;
  color: #F7F2F7;
}

.bottom-names {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

/*-------ATTRIBUTION-------*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 80px;
}

.attribution a {
  color: #3E52A3;
}
